.base {
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

.baseIcon {
  background-color: #f2f7e8;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 10px 5px;
  font-size: 2.4rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.baseName {
  margin-left: 10px;
}

a:hover {
  color: black;
}
