
.optionsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.collectionTab {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: black;
}

.active {
  font-weight: 600;
}

.plusButton {
  color: white;
  font-size: 1.4rem;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 0px 5px 5px 5px;
  background-color: grey;
  border-radius: 3px;
}

.nameInput {
  border: solid 1px hsl(202,10%,88%);
  border-radius: 3px;
  max-width: 150px;
  padding: 10px;
  font-size: 1.2rem;
}
