.collectionTab {
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: black;
}

.plusButton {
  color: white;
  font-size: 1.4rem;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 0px 5px 5px 5px;
  background-color: grey;
  border-radius: 3px;
}

.nameInput {
  border: solid 1px grey;
  border-radius: 3px;
  /* height: 35px; */
  margin-left: 20px;
  margin-right: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

.optionsRow {
  display: flex;
  align-items: center;
  flex-direction: row;
}
